<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>学校概况</string>
		<key>group</key>
		<array>
			<dict>
				<key>title</key>
				<string>学校简介</string>
			</dict>
			<dict>
				<key>title</key>
				<string>学校章程</string>
			</dict>
			<dict>
				<key>title</key>
				<string>历史沿革</string>
			</dict>
			<dict>
				<key>title</key>
				<string>现任领导</string>
			</dict>
			<dict>
				<key>title</key>
				<string>历任领导</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>title</key>
				<string>安全科学与工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>能源科学与工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>资源环境学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>机械与动力工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>经济管理学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>土木工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>材料科学与工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>电气工程与自动化学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>测绘与国土信息工程学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>计算机科学与技术学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>马克思主义学院</string>
			</dict>
			<dict>
				<key>title</key>
				<string>外国语学院</string>
			</dict>
		</array>
		<key>header</key>
		<string>学院设置</string>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>title</key>
				<string>招生就业</string>
			</dict>
			<dict>
				<key>title</key>
				<string>诚聘英才</string>
			</dict>
		</array>
		<key>header</key>
		<string>人才培养</string>
	</dict>
</array>
</plist>
