<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>旅游</string>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>美食</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>CET4</string>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>CET6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>考研</string>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>考公务员</string>
			</dict>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>出国留学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string>招聘</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
